<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>eGen</title>
    </head>
    <body>
        <div th:replace="~{fragments/header :: navbar('home')}"></div>
            <div>
                <button id="script-btn" class="btn-primary" 
                    onclick="processInputSequence('message-input', 'result-area')">
                    Read Sequence
                </button>
                <textarea id="message-input" name="message" rows="10" placeholder="Write here"
                style="width: 100%; max-width: 100%"></textarea>
            </div>

            <div>
                <input type="file" id="file-input" class="btn-primary">
                <button class="btn-primary" onclick="processInputSequence('file-input', 'result-area')">
                    Read File
                </button>
            </div>

            <div class="col-container" style="padding-top: 50px">
                <strong>Result</strong>
                <textarea id="result-area" rows="6" cols="50" readonly></textarea>
            </div>
        </div>
    </body>
    <script type="module" th:src="@{/js/elements.js}"></script>
    <script type="module">
        import { EgenInterface } from '/js/egen.js';
        import { setValue, getValue } from '/js/elements.js';
        const egenInterface = new EgenInterface();
        await egenInterface.init();
        
        export async function processInputSequence(elementToRead, elementToWrite){
            const content = await getValue(elementToRead, false);
            console.log("Content received from getValue:", content);
            const result = await egenInterface.processSequence(Array.isArray(content) ? content[0] : content);
            setValue(elementToWrite, result);
        }

        window.processInputSequence = processInputSequence;
    </script>
</html>